// 2017-12-18 Jifeng Cheng

.type {
  display: flex;
  justify-content: space-between;
}

.label {
  margin-left: 20px;
}

.layout {
  margin: 30 auto,
}

.over_article {
  margin: 10px;
  font-size: 16px;
  text-indent: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}