.bgimg {
  background-image: 'https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-543828.jpg';
  // background-size: cover;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}